html {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222222;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

body > div.select-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

select {
  font-size: x-large;
}

body > canvas {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
}

body > footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & > a {
    font-size: large;
    color: #ffffff;
  }
}
